<a id='Map_Function'></a>
### Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [4]:
def sq(val):
  return val*val

number = (11, 21, 30, 34)
arr=tuple(map(sq,number))
sq_val=tuple(arr)
print(sq_val)

(121, 441, 900, 1156)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentence given below :**

**sentence = 'Python for Data Science'**

In [7]:
def len_of_sent(sent):
  return len(sent)

sent="Python for Data Science"
arr=list(sent.split(" "))
save=list(map(len_of_sent,arr))
print(save)

[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

deff **Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [8]:
def div(n):
  return n%5

numbers = [ 74, 85, 14, 23 ]
val=list(map(div,numbers))
print(val)

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**

list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']

list2 = [11,22,33,44,55,66,77,88,99]

In [13]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]
list2.insert(0,"00")
arr=[]
for i in range(len(list1)):
  save=str(list1[i])+str(list2[i])
  # print(save)
  arr.append(save)
print(arr)
print(" ".join(arr))

['I00', 'felt11', 'happy22', 'because33', 'I44', 'saw55', 'the66', 'others77', 'were88', 'happy99']
I00 felt11 happy22 because33 I44 saw55 the66 others77 were88 happy99

<a id='Filter_Function'></a>
### Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [19]:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

save=list(filter(lambda x:x in arr1,arr2))
print(save)

['o', 'i', 't']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [22]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
store=list(filter(lambda x:(x%2==0),numbers))
print(store)

[110, 352, 278]