<a id='Lambda_Functions'></a>
## Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
x=34
y=78 
z=lambda x,y:min(x,y)
print(z(x,y))

34