<a id='User_Define'></a>
## Define Function With Argument

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
def func(n):
  if n%2==0:
    print("even")
  else:
    print("odd")

n=33
func(n)

odd

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
def func(n):
  fact=1
  for i in range(1,n+1):
       fact=fact*i
  print(fact)


n=int(input())

func(n)

4
24


<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [6]:
my_list = [1,2,3,3,11,34,3,3,4,5]
save=set(my_list)
print(save)

{1, 2, 3, 34, 4, 5, 11}