<a id="loop"> </a>
## Loops

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a code to print the letters in the string as upper case letters (use for loop)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
string = "python"
save=[]
arr=list(str(string))
for i in arr:
  x=i.upper()
  save.append(x)
  # print(save)
# print(arr)
store="".join(save)
print(store)

PYTHON

<a id="while"> </a>
### While Loop

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to print the numbers less than 100 that are divisible by 4 (use while loop) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
i=1
while(i<=100):
  if int(i%4)==0:
    print(i)
  i+=1

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100