## Tuples Methods Topic

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Tuple manipulations:<br><br>
                        a. Add new element '4' to the given tuple<br>
                        b. Replace an element
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

tuple1 = (['a', 1, True], 2, 'Science', -5)

**a. Add new element '4' to the given tuple**

In [2]:
tuple1 = (['a', 1, True], 2, 'Science', -5)
tuple1=tuple1+ (4,)
print(tuple1)

(['a', 1, True], 2, 'Science', -5, 4)

**b. Replace an element**

**Replace '2' with '3' in tuple1 = (['a', 1, True], 2, 'Science', -5)**

In [7]:
tuple1 = (['a', 1, True], 2, 'Science', -5)
arr=list(tuple1)
for i in arr:
  if i==2:
    save=arr.index(i)
    arr.remove(i)
    arr.insert(save,3)
# print(tuple(arr))

tuple1=tuple(arr)
print(tuple1)

(['a', 1, True], 3, 'Science', -5)