## List Methods Topic

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Write a program to perform following built-in list operations:<br><br>
                        a. Max(list)<br>
                        b. Sort the elements (use sort() and sorted() function)<br>
                        c. Create a copy of a list<br>
                        d. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

list1 = [4, 5, 7, -2, 0, 1]

**a. Max(list)**

In [1]:
list1 = [4, 5, 7, -2, 0, 1]
print(max(list1))

7

**b. Sort the elements (use sort() and sorted() function)**

In [3]:
list1.sort()
print(list1)

store=sorted(list1)
print(store)

[-2, 0, 1, 4, 5, 7]
[-2, 0, 1, 4, 5, 7]

**c. Create a copy of a list**

In [6]:
list1 = [4, 5, 7, -2, 0, 1]
cop=list1.copy()
print(cop)

[4, 5, 7, -2, 0, 1]

**d. Remove element '5' from the list**

In [11]:
list1 = [4, 5, 7, -2, 0, 1]
list1.remove(5)
print(list1)

[4, 7, -2, 0, 1]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Manipulating a list:<br><br>
                        a. Add elements 'Excel' and 'Data' in the given list<br>
                        b. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the below list

list1 = ['R', 'Python', 'C', 'Java']

**a. Add elements 'Excel' and 'Data' in the given list**

In [12]:
list1 = ['R', 'Python', 'C', 'Java']
list1.append('Excel')
list1.append('Data')
print(list1)

['R', 'Python', 'C', 'Java', 'Excel', 'Data']

**b. Replace an element 'C' with 'C++' in the given list**

In [18]:
list1 = ['R', 'Python', 'C', 'Java']

for i in list1:
  if i=="C":
    save=list1.index(i)
    list1.remove(i)
    list1.insert(save,"C++")

print(list1)

['R', 'Python', 'C++', 'Java']