##  Slicing

**One can not perform element-wise multiplication of lists using the above method.**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br> a. Slice the list from 1st index till the last index with an increment of an index by 2 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

list1 = ['Python', 1, 2, 3, 'Data', True]

In [5]:
list1 = ['Python', 1, 2, 3, 'Data', True]
new=list1[1::2]
print(new)

[1, 3, True]