<a id="data"> </a>
<html>
<body>

<h3>Understand the Data</h3><br>
1. Understand the problem statement and the data<br>
2. Cars dataset with features including make, model, year, engine, and other properties of the car used to predict its price

<ul>

</ul>  

</body>
</html>

In [2]:
# import pandas
import pandas as pd
# read the data
data = pd.read_csv('cars.csv')
# check first five rows of data
data.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In order to learn about each attribute, it is always good for us to know the data type of each column

<a id="central_tendency"> </a>
<html>
<body>

<h3> Measure of Central Tendency</h3>
<h4>1. Mean</h4>

In [3]:
# calculate the average values
data.mean(axis=0)

Year                 2010.384338
Engine HP             249.386070
Engine Cylinders        5.628829
Number of Doors         3.436093
highway MPG            26.637485
city mpg               19.733255
Popularity           1554.911197
MSRP                40594.737032
dtype: float64

<html>
<body>

<h4>2. Mode</h4>

In [28]:
# filter the categorical variables from the data
df=data.select_dtypes('object')

save=list(df.columns)
print(save)
# calculate the mode

data.mode()

['Make', 'Model', 'Engine Fuel Type', 'Transmission Type', 'Driven_Wheels', 'Market Category', 'Vehicle Size', 'Vehicle Style']

        Make           Model  Year  ... city mpg  Popularity  MSRP
0  Chevrolet  Silverado 1500  2015  ...       17        1385  2000

[1 rows x 16 columns]

<html>
<body>

<h4>3. Median</h4>

In [24]:
# calculate the median
data.median()

Year                 2015.0
Engine HP             227.0
Engine Cylinders        6.0
Number of Doors         4.0
highway MPG            26.0
city mpg               18.0
Popularity           1385.0
MSRP                29995.0
dtype: float64

<a id="dispersion"> </a>
<html>
<body>

<h3> Measure of Dispersion</h3>

<a id="variance"> </a>
<html>
<body>

<h4>1. Variance</h4>
<ul>

In [26]:
# calculate the variance
data.var()

Year                5.745246e+01
Engine HP           1.192286e+04
Engine Cylinders    3.170392e+00
Number of Doors     7.767168e-01
highway MPG         7.855278e+01
city mpg            8.078052e+01
Popularity          2.078947e+06
MSRP                3.613104e+09
dtype: float64

<a id="standard_deviation"> </a>
<html>
<body>

<h4>2. Standard Deviation</h4>

In [0]:
# calculate the standard deviation

In [29]:
data.std()

Year                    7.579740
Engine HP             109.191870
Engine Cylinders        1.780559
Number of Doors         0.881315
highway MPG             8.863001
city mpg                8.987798
Popularity           1441.855347
MSRP                60109.103604
dtype: float64