## 1). Given a string - 'Today is a sunny day'

#### a). Write a code to get 'Today and â€˜Sunny'

#### b). Obtain the last 2 letters

#### c). Write the statement backwards

In [3]:
name="Today is a sunny day"
name1=list(name.split(" "))
n1=name1[0]
n2=name1[-2].capitalize()
print(n1,n2)

Today sunny

In [6]:
name2=list(name)
print(name2[-2],name2[-1])

a y

In [15]:
rev=name1[-1::-1]

outsent=" ".join(rev)
print(outsent)

day sunny a is Today

## 2). Concatenate the variables 'num = 34 and 'string ='How old are you?'  using '+' operator.

In [0]:
store=str(num)+"How old are you"