In [1]:
# load the csv file of data
import pandas as pd 
df_suicide = pd.read_csv('suicide_data.csv')

# display the head() of the dataset
df_suicide.head()

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]

The function 'StandardScaler()' is present in the sklearn library that normalizes the data by removing the mean and scaling to unit variance. This method does not change the shape of the original distribution. The formula for StandardScaler is given as:

Normalize the variable to reduce the scale of the data.

In [15]:
# import StandardScaler

from sklearn.preprocessing import StandardScaler
# instantiate the standardscaler

scaler = StandardScaler()
# fit the StandardScaler
df_suicide['pop_new']=scaler.fit_transform(df_suicide[['population']])

# minimum and maximum of scaled data
df_suicide['pop_new'].min(),df_suicide['pop_new'].max()

(-0.47153700678862037, 10.726876391928128)

#### Min-Max Normalization

Min-max normalization is another method to normalize the data. It performs a linear transformation on the data. The normalized values will be between 0 and 1. The formula for min-max normalization is given as:

Use the 'MinMaxScaler' from sklearn to normalize the variable 'population'.

In [16]:
# import MinMaxScaler

from sklearn.preprocessing import MinMaxScaler
# instantiate the MinMaxScaler
minmaxscaler=MinMaxScaler()

# fit the MinMaxScaler
df_suicide['minmax_population']=minmaxscaler.fit_transform(df_suicide[['population']])

# minimum and maximum of normalized population
df_suicide['minmax_population'].min(),df_suicide['minmax_population'].max()

(0.0, 1.0)